<div class="mt-5">
    <h1>Nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, ipsa dignissimos incidunt perferendis nesciunt omnis expedita sequi impedit blanditiis eius inventore qui ut, ad veniam quo velit facilis corporis adipisci.</p>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of equipo, index as i">
            <h6>Nombre: {{item.nombre}}</h6>    
            <h6>Especialidad: {{item.especialidad}}</h6> 
            <a [routerLink]="['/equipo', i]">Leer más...</a>   
        </li>
      </ul>

</div>