<div class="container">
    <app-cabecera></app-cabecera>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
    
<!-- <h1 class="container text-white text-center bg-dark my-4 py-4">[ngClass]</h1>
<div class="container">

    <button class="btn btn-dark mb-3" (click)="activo = 'primero'">Primero</button>
    <button class="btn btn-danger mb-3" (click)="activo = 'segundo'">Segundo</button>

    <p class="text-info d-none" [ngClass]="{'d-block': activo == 'primero'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum alias minus pariatur beatae necessitatibus consectetur tempore, minima unde rem ab, voluptas aspernatur quasi inventore excepturi hic ipsam sint tenetur dolores.</p>
    
    <p class="text-danger" [ngClass]="{'d-block': activo == 'segundo'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem consequuntur cumque repellendus qui quam doloribus omnis, molestiae reprehenderit blanditiis vel. Nulla eum impedit reprehenderit distinctio tempore voluptate dolor, odit nemo!</p>

</div> -->

<!-- 
<div class="container">
    <ul>
        <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TIPO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">EDAD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animales; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{animal.tipo}}</td>
                <td>{{animal.nombre}}</td>
                <td>{{animal.edad}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

